{% extends "base.html" %}

{% block myhead %}
{{ super() }}
{% endblock %}

{% block left_menu %} 
{{ super() }}
{% endblock %}

{% block page_container %}
{{ super() }}
{% endblock %}

{% block page_header %}
{{ super() }}
{% endblock %}


{% block content %}
<!-- Page Content  ====================================================== --> 
    <div class="col-md-12">
        <div id="content" class="panel-container">
          
            <!-- Home Page ================================================== -->  
            <div id="home">
                <!-- Text Section -->
                <div class="row">
                    <section class="about-me line col-md-12 padding_30 padbot_45">
                    <div class="section-title"><span></span><h2>About Me</h2></div>
                    <p class="top_30">Make it happen: from ideas to revenue by combining business/marketing and R&amp;D skillsets:
                        <br>
                        <br> Identify market mega trends identification, consolidate customer needs, drive product specification and development.
                        </p>
                </section>
                </div>
                
                
                <!-- Guiding Principles -->
                <div class="row">
                    <section class="services line graybg col-md-12 padding_50 padbot_50">
                    <div class="section-title bottom_45"><span></span><h2>Guiding Principles</h2></div>
                    <div class="row">
                        <!-- a principle -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-chat"></i>
                                </div>
                                <span class="title">Communicate</span>
                                <p class="little-text">Listen more than you talk. Say what you do, do what you say.</p>
                            </div>
                        </div>
                        <!-- a principle -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-opportunity"></i>
                                </div>
                                <span class="title">non-obvious vs Impossible </span>
                                <p class="little-text">Non-obviousness is a fact, Impossible in most cases is a state of mind. Experiment to learn which is which. When a solution is possible , cost it.</p>
                            </div>
                        </div>
                        <!-- a principle -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-swan-facing-right"></i>
                                </div>
                                <span class="title">Black Swans exist</span>
                                <p class="little-text">Know the difference between risk and uncertainty, address them separately.</p>
                            </div>
                        </div>
                        <!-- a principle -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-validate"></i>
                                </div>
                                <span class="title">Seek and Give feedback</span>
                                <p class="little-text">Focus on what the customer needs, learn by delivering simplest viable solution. Be ready for serendipity.</p>
                            </div>
                        </div>
                    </div>
                </section> <!-- end of Principles-->
                
                </div>
                <!-- Skills Section -->
                <div class="row">
                    <section class="design-skills col-md-6 padding_60 padbot_50">
                        <div class="section-title bottom_45"><span></span><h2>Engineering Skills</h2></div>
                        <ul class="skill-list">
                            <li> 
                                <h3>Edge AI/ML : ros, sensors and sensor fusion, pandas</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:30%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>Distance Sensing: Radar, LiDaR, ultrasonic</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:65%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>Embedded: SoC (Cortex-A/M), RTOS, Compilers</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:70%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>Cross-functional and International team leadership</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:75%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>Product management and product definition</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:70%;"></div>
                                </div>
                            </li>
                        </ul>
                    </section> <!--end of engineering skills -->
                    <section class="code-skills col-md-6 padding_60">
                        <div class="section-title bottom_45"><span></span><h2>Language Skills</h2></div>
                        <ul class="skill-list">
                            <li> 
                                <h3>English</h3>
                                <div class="progress">
                                    <div class="percentage" style="width:100%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>French </h3>
                                <div class="progress">
                                    <div class="percentage" style="width:100%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>German </h3>
                                <div class="progress">
                                    <div class="percentage" style="width:60%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>Spanish </h3>
                                <div class="progress">
                                    <div class="percentage" style="width:60%;"></div>
                                </div>
                            </li>
                            <li> 
                                <h3>Chinese (Mandarin) </h3>
                                <div class="progress">
                                    <div class="percentage" style="width:10%;"></div>
                                </div>
                            </li>
                        </ul>
                    </section> <!-- end of soft skills -->
                </div>
            </div>
            
            <!-- Resume Page ================================================ --> 
            <div id="resume">
                <!-- Resume Section -->
                <div class="row">
                    <section class="education">
                    <div class="section-title top_30"><span></span><h2>My Resume</h2></div>
                        <div class="row">
                            <!-- Working History -->
                            <div class="working-history col-md-6 padding_45 padbot_30">
                                <ul class="timeline col-md-12">
                                    <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
                                    <!-- a work -->
                                    <li><h3 class="line-title">Texas Instruments EU - DE</h3>
                                        <span>2021 - present</span>
                                        <p class="little-text">Industrial mmWave Europe - Level 1 and Level 2 support for 60GHz industrial applications in Europe.</p>
                                    </li>
									<!-- a work -->
                                    <li><h3 class="line-title">Texas Instruments WW - DE</h3>
                                        <span>2014 - 2020</span>
                                        <p class="little-text">Systems and Applications - Own level 2 technical support for key robotics &amp; PLC accounts on WW basis.</p>
                                    </li>
                                    
                                    <li><h3 class="line-title">Texas Instruments EMEA - DE</h3>
                                        <span>2008 - 2014</span>
                                        <p class="little-text">Strategic Marketing Manager - Drive TI portfolio expension with creation of new lines of products to cover EMEA needs.</p>
                                    </li>
                                   <!-- a work -->
                                    <li><h3 class="line-title">Texas Instruments - FR</h3>
                                        <span>2002 - 2008</span>
                                        <p class="little-text">FAE for french key account - Support GPRS/EDGE/3G products for mobile phones customrs in France.</p>
                                    </li>
                                   <!-- a work -->
                                    <li><h3 class="line-title">Altran - FR/UK</h3>
                                        <span>1999 - 2002 </span>
                                        <p class="little-text">Projects in auto industry then smartphone startups covering baseband power management and USB interfaces</p>
                                    </li>
                                </ul> 
                            </div>  
                            <!-- Education History -->
                            <div class="education-history col-md-6 padding_45 padbot_30">
                                <ul class="timeline col-md-12">
                                    <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
                                    <!-- a degree -->
                                    <li><h3 class="line-title">UB via Coursera </h3>
                                        <span>2020</span>
                                        <a href="https://www.coursera.org/account/accomplishments/certificate/5WFBKUXT6LGM"><p class="little-text">Collaborative Robot Safety: Design & Deployment</p></a>
                                    </li>
                                    <!-- a degree -->
                                    <li><h3 class="line-title">MIT / Sloan </h3>
                                        <span>2018</span>
                                        <a href="https://mitsloan.credential.getsmarter.com/b9cd79cf-37f2-4345-ab51-a9b9f8b8beb0?key=13e7467093dd59ca339e1d226d38549b6ee7bd41b73cb52f06d162117462aadc#gs.f59ndr"><p class="little-text">AI/ML for business </p></a>
                                    </li>


                                   <!-- a school -->
                                    <li><h3 class="line-title">Supelec (FR)</h3>
                                        <span>1996-1999</span>
                                        <p class="little-text">French Ivy League school for embedded systems.</p>
                                    </li>
                                    <!-- a school -->
                                    <li><h3 class="line-title">Capital Normal University (中国)</h3>
                                        <span>July 1998</span>
                                        <p class="little-text">One month intensive mandarin courses.</p>
                                        <p class="little-text">首都师范大学 一个月强化汉语课</p>
                                    </li>
                                   <!-- a school -->
                                    <li><h3 class="line-title">Pontoise - secondary education</h3>
                                        <span>1988-1996</span>
                                        <p class="little-text">Bac C - followed by "classes preparatoires M".</p>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Selected Work / Testimonials / Public Work -->
                <div class="row">
                  <section class="testimonials graybg bottom_30 padbot_30">
                    <div class="section-title top_60 bottom_30"><span></span><h2>Selected Work</h2></div>
                        <div class="owl-carousel row" data-items="3" data-autoplay="3000" data-pagination="true">
                            
                            {% for article in articles %}
                            {% if "public_testimonial" in article.tags %}
                                <!-- a new testimonial -->
                                <div class="col-md-12 item">
                                   <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/{{article.cover_image_url}}" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">{{article.cover_image_caption}}</span>
                                            <span class="job">{{article.title}}</span> 
                                        </div> <!--name-info-->
                                    </div>  <!--top-section-->
                                    <hr>
                                    <p>{{article.summary}}</p>
                                </div> <!--comment-->
                                </div> <!--col-md-12 item -->
                            {% endif %}
                            {% endfor %}
                    </div>
                  </section>
                </div>
                <!-- References Section -->
                <div class="row">
                    <section class="clients col-md-12 padding_30 padbot_45">
                        <div class="section-title bottom_30"><span></span><h2>Great work experience with:</h2></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="client">
                                    <img src="images/infinergia_logo.png" alt="infinergia consulting">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="client">
                                    <img src="images/soldel_logo.svg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="client">
                                    <img src="images/platypus_logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="client">
                                    <img src="images/ESLlogos-2015-long.jpg" alt="EMBEDDED SYSTEMS LABORATORY ESL @ EPFL">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div> <!-- div id="resume" -->
            
            <!-- Portfolio Page
            ================================================== --> 
            <div id="portfolio" class="row bottom_45">
                <section class="col-md-12">
                    <div class="col-md-12 content-header bottom_15">
                        <div class="section-title top_30 bottom_30"><span></span><h2>Portfolio</h2></div>
                        <div id="filters-container">
                            <!-- '*' means shows all item elements -->
                            <div data-filter="*" class="cbp-filter-item">All</div>
                            <div data-filter=".hardware" class="cbp-filter-item">HW</div>
                            <div data-filter=".software" class="cbp-filter-item">SW</div>
                            <div data-filter=".patent" class="cbp-filter-item">Patents</div>
                            <div data-filter=".techart" class="cbp-filter-item">Technical Articles</div>
                            <div data-filter=".marketing" class="cbp-filter-item">Marketing</div>
                        </div>
                    </div>

            <div id="grid-container" class="top_60">
                        <!-- remove the cbp-singlePage" to allow opening in same frame -->
                        <!-- class cbp-singlePage opens page pop-up, cbp-lightbox opens image pop-up -->
                        <!-- fa fa-clone: icon of page opening; fa fa-picture-o: icon of picture -->

                <!-- HARDWARE -->
                {% for article in articles %}
                {% if article.category == "hardware" %}
                <div class="cbp-item hardware">
                    <a href={{article.slug}}> 
                        <figure>
                            <div class="icon">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                            <img src="images/{{article.cover_image_url}}" alt="" >
                            <figcaption>
                                <span class="title">{{article.title}}</span><br/>
                                <span class="info">{{ article.summary}}</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                {% endif %}
                {% endfor %}

                <!-- SOFTWARE -->
                {% for article in articles %}
                {% if article.category == "software" %}
                <div class="cbp-item software">
                    <a href={{article.slug}}> 
                        <figure>
                            <div class="icon">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                            <img src="images/{{article.cover_image_url}}" alt="" >
                            <figcaption>
                                <span class="title">{{article.title}}</span><br/>
                                <span class="info">{{ article.summary}}</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                {% endif %}
                {% endfor %}

                <!-- PATENTS -->
				<!-- a patent work -->
                {% for article in articles %}
                {% if article.category == "patent" %}
                <div class="cbp-item patent">
                    <a href={{article.slug}}> <!-- pelican generated patent entry -->
                        <figure>
                            <div class="icon">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                            <img src="images/{{article.cover_image_url}}" alt="" >
                            <figcaption>
                                <span class="title">{{article.title}}</span><br/>
                                <span class="info">{{ article.cover_image_caption}}</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                {% endif %}
                {% endfor %}


                <!-- TECH ARTICLE -->
                {% for article in articles %}
                {% if article.category == "techart" %}
                <div class="cbp-item techart">
                    <a href={{article.slug}}> <!-- remove the cbp-singlePage" to allow opening in same frame -->
                        <figure>
                            <div class="icon">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                            <img src="images/{{article.cover_image_url}}" alt="" >
                            <figcaption>
                                <span class="title">{{article.title}}</span><br/>
                                <span class="info">{{ article.summary}}</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
 

                <!-- BLOGS & CONFERENCES -->

                        <!-- a blog work -->
                        {% for article in articles %}
                        {% if article.category == "blog" %}
                        <div class="cbp-item marketing">
                            <a href={{article.slug}}> <!-- pelican generated patent entry -->
                                <figure>
                                    <div class="icon">
                                        <i class="fa fa-clone" aria-hidden="true"></i>
                                    </div>
                                    <img src="images/{{article.cover_image_url}}" alt="" >
                                    <figcaption>
                                        <span class="title">{{article.title}}</span><br/>
                                        <span class="info">{{ article.cover_image_caption}}</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}


                <!-- a conference work -->
                {% for article in articles %}
                {% if article.category == "conference" %}
                <div class="cbp-item marketing">
                    <a href={{article.slug}}> <!-- pelican generated patent entry -->
                        <figure>
                            <div class="icon">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                            <img src="images/{{article.cover_image_url}}" alt="" >
                            <figcaption>
                                <span class="title">{{article.title}}</span><br/>
                                <span class="info">{{ article.cover_image_caption}}</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                {% endif %}
                {% endfor %}


                {% for article in articles %}
                {% if article.category == "interview" %}
                <div class="cbp-item marketing">
                    <a href={{article.slug}}> <!-- pelican generated interview entry -->
                        <figure>
                            <div class="icon">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                            <img src="images/{{article.cover_image_url}}" alt="" >
                            <figcaption>
                                <span class="title">{{article.title}}</span><br/>
                                <span class="info">{{ article.cover_image_caption}}</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                {% endif %}
                {% endfor %}

                

                    <!-- load more button -->
                    <div id="js-loadMore-agency" class="cbp-l-loadMore-button top_30">
                        <a href="load-more/portfolio.html" class="cbp-l-loadMore-link site-btn" rel="nofollow">
                            <span class="cbp-l-loadMore-defaultText">Load More (<span class="cbp-l-loadMore-loadItems">3</span>)</span>
                            <span class="cbp-l-loadMore-loadingText">Loading...</span>
                            <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
                        </a>
                    </div>
            </section>
            </div>
                
            <!-- Contact Page ================================================== --> 
            <div id="contact">
                <div class="row">
                    <!-- Contact Form -->
                    <section class="contact-form col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Contact Form</h2></div>
                        <form class="site-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="site-input" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input class="site-input" placeholder="E-mail">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="site-area" placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-12 top_15 bottom_30">
                                    <button class="site-btn" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>  
                    </section>
                    <!-- Contact Informations -->
                    <section class="contact-info col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Contact Informations</h2></div>
                        <ul>
                            <li><span>Address:</span> Garching </li>
                            <li><span>Profession:</span> Embedded Systems Engineering</li>
                            <li><span>E-mail:</span> contact@matthieuchevrier.com</li>
                            <li><span>Skype:</span> matthieuchevrier</li>
                            <li>
                                <div class="social-icons top_15">
                                    <a class="lin" href="https://www.linkedin.com/in/matthieuchevrier/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                                    <a class="gs" href="https://scholar.google.com/citations?hl=fr&user=gs3enb8AAAAJ"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                                    <a class="fb" href="https://www.facebook.com/matthieu.chevrier.79"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                    <a class="tw" href="https://twitter.com/matt__chv"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                                    <a class="git" href="https://github.com/matt-chv"><i class="fa fa-github" aria-hidden="true"></i></a> 
                                    <a class="stack" href="https://stackexchange.com/users/13039919/mcv"><i class="fa fa-stack-exchange" aria-hidden="true"></i></a> 
                                </div>
                            </li>
                        </ul>
                    </section>
                    <!-- Contact Map -->
                    <section class="contact-map col-md-12 top_15 bottom_15">
                        <div class="section-title bottom_30"><span></span><h2>Contact Map.</h2></div>  
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2656.7319572538645!2d11.634674015330322!3d48.25028705128351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e7252eab30b57%3A0xd98d7213206222c0!2sTexas%20Instruments%20Deutschland%20GmbH!5e0!3m2!1sfr!2sde!4v1636268360281!5m2!1sfr!2sde" height="350" style="border:0" allowfullscreen></iframe>
                        <!-- https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2656.7319572538645!2d11.634674015330322!3d48.25028705128351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e7252eab30b57%3A0xd98d7213206222c0!2sTexas%20Instruments%20Deutschland%20GmbH!5e0!3m2!1sfr!2sde!4v1636268360281!5m2!1sfr!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
                        <!-- https://maps.google.com/maps?q=garching%2C%20germany&t=&z=13&ie=UTF8&iwloc=&output=embed-->
                    </section>
                </div> <!-- row -->
            </div> <!-- contact --> 
            
        <!-- Credit Page -->
            <div id="credits"> 
                <!-- Technologies -->
                <div class="row">
                    <section class="testimonials graybg bottom_30 padbot_30">
                        <div class="section-title top_30 bottom_30"><span></span><h2>Technologies used to create this site</h2></div>
                        <div class="owl-carousel row" data-items="3" data-autoplay="3000" data-pagination="true">
                           <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/python.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">Python</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/reportlab.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">Report Lab</span>
                                            <span class="job"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/HTML5.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">HTML5</span>
                                            <span class="job">U</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/jquery.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">jQuery</span>
                                            <span class="job"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/bootstrap.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">Bootstrap</span>
                                            <span class="job"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/git.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">Git</span>
                                            <span class="job"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/ubuntu.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">Ubuntu</span>
                                            <span class="job"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">pelican-deadlinks</span>
                                            <span class="job"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
 

 
                        </div>
                    </section>
                </div>
                <div class="row">
                    <section class="testimonials graybg bottom_30 padbot_30">
                        <div class="section-title top_30 bottom_30"><span></span><h2>LICENSE AND ATTRIBUTION:</h2></div>
                        <div class="owl-carousel row" data-items="3" data-autoplay="3000" data-pagination="true">
                                                       <!-- a item -->
                            <div class="col-md-12 item">
                                <div class="comment">
                                    <div class="top-section">
                                        <figure>
                                            <img src="images/credits/flaticon.png" alt="">
                                        </figure>
                                        <div class="name-info">
                                            <span class="name">Font generated by <a href="https://www.flaticon.com">flaticon.com</a>.</span>
                                            <span class="name">Under <a href="http://creativecommons.org/licenses/by/3.0/">CC</a>:</span>
                                        </div>
                                        <p> <a data-file="007-validate" href="https://www.flaticon.com/authors/geotatah">geotatah</a>, <a data-file="002-graphic" href="https://www.flaticon.com/authors/eucalyp">Eucalyp</a>, <a data-file="003-heart" href="https://www.flaticon.com/authors/smashicons">Smashicons</a>, <a data-file="004-chat" href="https://www.flaticon.com/authors/good-ware">Good Ware</a>, <a data-file="005-opportunity" href="https://www.flaticon.com/authors/becris">Becris</a>, <a data-file="008-github-logo" href="http://www.freepik.com">Freepik</a>, <a data-file="009-linkedin-logo" href="https://www.flaticon.com/authors/simpleicon">SimpleIcon</a>, <a data-file="010-twitter" href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a>, <a data-file="011-stack" href="https://www.flaticon.com/authors/dave-gandy">Dave Gandy</a></p>  
                                    </div>
                                </div>
                            </div>

                         </div>
                    </section>
                </div>
            </div><!-- Credits end -->
        </div><!-- Content - End -->
     </div> <!-- col-md-12 end -->
</div><!-- row end -->
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

