    /*
    Flaticon icon font: Flaticon
    Creation date: 16/10/2018 20:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-idea:before { content: "\f100"; }
.flaticon-graphic:before { content: "\f101"; }
.flaticon-heart:before { content: "\f102"; }
.flaticon-chat:before { content: "\f103"; }
.flaticon-opportunity:before { content: "\f104"; }
.flaticon-swan-facing-right:before { content: "\f105"; }
.flaticon-validate:before { content: "\f106"; }
.flaticon-github-logo:before { content: "\f107"; }
.flaticon-linkedin-logo:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }
.flaticon-stack:before { content: "\f10a"; }
    
    $font-Flaticon-idea: "\f100";
    $font-Flaticon-graphic: "\f101";
    $font-Flaticon-heart: "\f102";
    $font-Flaticon-chat: "\f103";
    $font-Flaticon-opportunity: "\f104";
    $font-Flaticon-swan-facing-right: "\f105";
    $font-Flaticon-validate: "\f106";
    $font-Flaticon-github-logo: "\f107";
    $font-Flaticon-linkedin-logo: "\f108";
    $font-Flaticon-twitter: "\f109";
    $font-Flaticon-stack: "\f10a";