	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/10/2018 20:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-idea:before { content: "\f100"; }
.flaticon-graphic:before { content: "\f101"; }
.flaticon-heart:before { content: "\f102"; }
.flaticon-chat:before { content: "\f103"; }
.flaticon-opportunity:before { content: "\f104"; }
.flaticon-swan-facing-right:before { content: "\f105"; }
.flaticon-validate:before { content: "\f106"; }
.flaticon-github-logo:before { content: "\f107"; }
.flaticon-linkedin-logo:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }
.flaticon-stack:before { content: "\f10a"; }